/* phpcs:ignore */

#count_e, #count_t {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  padding-top: 6px;
  float: right;
  margin-top: 4px;
}

#count_t {
  padding-top: 1px;
  position: absolute;
  top: 30px;
  right: 0px;
}
.red {
  background: red;
}

.green {
  background: green;
}
